*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html{
    font-family: Helvetica;
    font-size: 62.5%;
}
body{
    background-color:#2d3a6d;
}
/* main{
    display: flex;
    justify-content: center;
    align-items: center;
    width:99%;
   
} */

@media(max-width:2000px){
    my-element{
        --section-width: 80rem;
        --section-height:45rem;
      
       --img-width:150%;
       --img-height:90%;
       --img-right:14rem;
       --img-bottom: 10rem;
       --font-size-nike: 6rem;
       --bottom-nike: 2rem;
       --font-textos-h1:4rem;
       --font-textos-h3:2rem;
       --font-textos-p:1.4rem;
    }
}
@media(max-width:1050px){

    main{
        
        width: 90%;
    }
    
    my-element{
        --section-width: 65rem;
        --section-height:34rem;
      
       --img-width:150%;
       --img-height:90%;
       --img-right:10rem;
       --img-bottom: 7rem;
       --font-size-nike: 4rem;
       --bottom-nike: 2rem;
       --font-textos-h1:1.6rem;
       --font-textos-h3:1rem;
       --font-textos-p:1.1rem;
       --padding:10rem;
    }
     
}
@media (max-width:676px) {

  
    my-element{
        --display:flex;
        --flex-direction: column; 
        --section-width: 30rem;
        --section-height:36rem;
        --imagen-width:100%;
        --imagen-height:50% ;
       --img-width:90%;
       --img-height:100%;
        --img-right:0rem;
       --img-bottom: 8rem;
       --font-size-nike: 4rem;
       --bottom-nike: 2rem;
       --font-textos-h1:2rem;
       --padding-left-h1:0rem;
       --font-textos-h3:1.4rem;
       --font-textos-p:1.1rem;
       --padding-left-p: 3.4rem;
       --button-width:4rem;
       --button-height:2rem;
       --padding:0rem;
       --transform: 0;
    }
     
}